# .github/workflows/publish.yml

name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: windows-latest
    permissions:
      contents: read
      id-token: write # The OIDC ID token is used for authentication with JSR.
    steps:
      - uses: actions/checkout@v5
      - run: deno publish
      - name: Attest Build Provenance
        uses: actions/attest-build-provenance@v3.1.0

